/*Font Import*/
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700');

body {
	margin:0;
	max-height:1920px;
	max-width:1080px;
	overflow:hidden;
	font-family:"Maven Pro";
}

#vNum {
    color: #000;
    font-weight: 700;
    font-size: 50px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    margin: 0;
}

#bodyContain {
	margin:0;
	max-height:1920px;
	max-width:1080px;
	overflow:hidden;
	position:fixed;
}

#character {
	position: absolute;
	width:80%;
	height:auto;
	top:0px;
	left:0px;
	z-index:400;
	overflow:hidden;
}

#textContainer {
    position: fixed;
    z-index: 5000;
    background: #fff;
    max-width: 100%;
    bottom: 0;
    padding: 60px;
    background:#000000c7;
}

#tropeHeader {
	font-size:100px;
	color:#fff;
}

#tropeDesc {
	font-size:60px;
	color:#fff;
}

#background {
	min-height:100vh;
	z-index:-100;
	background-color:#21ba8f;
	overflow:hidden;
	top:0px;
	left:0px;
}

#background img {
	mix-blend-mode: multiply;
	overflow:hidden;
}