/*Font Import*/
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700');

h1, p {margin-top:0;}

body {
	margin:0;
	height:100vh;
	font-family:"Maven Pro";
	text-align:left;
}

#vNum {
    color: #000;
    font-weight: 700;
    font-size: 50px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    margin: 0;
}

#tableScroll {
/*	overflow-x:scroll;
	overflow-y:hidden;
	white-space:nowrap;
	background-color:#21ba8f !important;*/
	display:flex;
	flex-wrap:nowrap;
	overflow-x:auto;
}


.bodyContain {
	margin:0;
	padding:0 50px;
	max-height:100vh;
	max-width:1080px;
/*	overflow:hidden;*/
/*	display:inline-block;*/
	flex: 0 0 auto;
	display:inline-flex;
/*	float:left;*/
}

.character {
	padding-top:10%;
	width:auto;
	height:100%;
	overflow:hidden;
}

.textContainer {
	height:420px;
	max-height:420px;
	margin-top:0px;
    background: #fff;
    max-width: 80%;
    min-width:80%;
    padding: 60px;
    background:#000000c7;
}

.tropeHeader {
	font-size:60px;
	color:#fff;
	filter:drop-shadow(0 5px 5px #000);
}

.tropeDesc {
	max-width:70%;
	font-size:40px;
	font-weight:400;
	color:#fff;
	filter:drop-shadow(0 5px 5px #000);
}


th {
	padding:0 50px;
	margin:0;
}

table{
	border-collapse:collapse;
	border-spacing:0;
	border:none !important;
}

.type1{
	background:#21ba8f;
}

.type1Transition{
	background-image: linear-gradient(90deg, #21ba8f, #21ba8f, #21ba8f, #9f6492);
}

.type2 {
	background: #9f6492;
}

.type2Transition{
	background-image: linear-gradient(90deg, #9f6492, #9f6492, #9f6492, #707fad);
}

.type3 {
	background: #707fad;
}

.type3Transition{
	background-image: linear-gradient(90deg, #707fad, #707fad, #707fad, #707fad, #861918);
}
.type4 {
	background: #861918;
}