/*Font Import*/
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700');

h1, p {margin-top:0;}

body {
	margin:0;
	max-height:100px;
	font-family:"Maven Pro";
	text-align:left;
	overflow-y:hidden;
}

#vNum {
    color: #000;
    font-weight: 700;
    font-size: 50px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    margin: 0;
    opacity:0.4;
}

#titleHead {
	font-size: 120px;
	font-weight: 700;
	text-align: center;
	margin-top:50%;
}

.titleSub {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

#tableScroll {
	display:flex;
	flex-wrap:nowrap;
	overflow-x:auto;
	overflow-y:hidden;
	position:absolute;
}

.bodyTextContain{
	min-width:90%;
	min-height:90%;
	padding:50px;
	background:#21ba8f;
	color:#fff;
	font-weight:500;
	font-size:18px;
/*	flex: 0 0 auto;*/
}

.bodyContain {
	margin:0;
	padding:0 50px;
	max-height:100vh;
	max-width:1080px;
	flex: 0 0 auto;
	display:inline-flex;
	overflow-y:hidden;
}

.character {
	padding-top:10%;
	width:auto;
	height:100%;
	overflow:hidden;
}

.textContainer {
	height:355px;
	margin-top:0px;
    background: #fff;
    max-width: 80%;
    min-width:80%;
    padding: 60px;
    background:#000000c7;
}

.tropeHeader {
	font-size:60px;
	color:#fff;
	filter:drop-shadow(0 5px 5px #000);
}

.tropeDesc {
	max-width:100%;
	font-size:40px;
	font-weight:400;
	color:#fff;
	filter:drop-shadow(0 5px 5px #000);
}


th {
	padding:0 50px;
	margin:0;
}

table{
	border-collapse:collapse;
	border-spacing:0;
	border:none !important;
}

.type1{
	background:#21ba8f;
}

.type1Transition{
	background-image: linear-gradient(90deg, #21ba8f, #21ba8f, #21ba8f, #21ba8f, #21ba8f, #9f6492);
}

.type2Transition{
	background-image: linear-gradient(90deg, #9f6492, #9f6492, #9f6492, #9f6492, #9f6492, #707fad);
}

.type3Transition{
	background-image: linear-gradient(90deg, #707fad, #707fad, #707fad, #707fad, #707fad, #707fad, #707fad, #707fad, #861918);
}

.type2 {
	background: #9f6492;
}

.type3 {
	background: #707fad;
}

.type4 {
	background: #861918;
}

.bechdelTestDesc {
	padding:50px;
	background:#861918;
}

.moreInfoHeader {
	font-size:80px;
}

.headerHR {
	border:4px solid #fff;
}

.testSubHeader {
	font-size:50px;
	font-weight:700;
	margin-bottom:20px;
}

.testBody {
	font-size:40px;
	font-weight:400;
	margin-top:0;
}

#listElements{
	font-size:20px;
}

.noShow {
	color:#861918;
	border: 4px solid #861918;;
}